/Pant_category.png
/Shirt_category.png
/Sweater_category.png
/Towel_category.png
/T-shirt_category.png
/Light_category.png
/Medium_category.png
/Heavy_category.png
/bandwidth
/continuous_perception
/Database
/figures
/Model
/Raw_Sources
/Sources
/train_file
/vali_file
/__pycache__
/RGB2Gray.py
